mat-card {
  text-align: center;
  margin-top: 15px;

  h4,
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
  }

  div {
    margin-bottom: 15px;

    img {
      width: 200px;
      height: 200px;
      transition: 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  button {
    width: 100%;

    &:hover {
      opacity: 0.8;
    }
  }
}
